@import 'settings/_settings.variables.system-colors';
@import 'settings/_settings.variables.system-colors-dark';
@import 'settings/_settings.custom-properties.global';
@import 'settings/_settings.custom-properties.icons';

@import 'elements/_elements.icons';
@import 'elements/_elements.page';

@import 'components/_components.mixins.button';

@import 'components/_components.editor';
@import 'components/_components.notelist';
@import 'components/_components.modal';
@import 'components/_components.sidebar';
@import 'components/_components.codeMirror';
@import 'components/_components.tinyMCE';

:root {
  --sidebar__BackgroundColor: #{$windowBackgroundColor};
  --sidebar__label-FontSize: var(--g-font-size--1);
  --sidebar__label-Color: var(--g-tertiaryLabelColor);
}

// dark mode
@media (prefers-color-scheme: dark) {
  :root {
    --g-primary-Background: #{$textBackgroundColor--dark};
    --sidebar-color: #{$underPageBackgroundColor--dark};
    --sidebar__BackgroundColor: #{$windowBackgroundColor--dark};

    --note-list-item-odd: #{$alternatingContentBackgroundColorsOdd--dark};
    --note-list-item-even: #{$alternatingContentBackgroundColorsEven--dark};
  }
}

@import 'user-settings/_user-settings';
