.CodeMirror.CodeMirror {
  line-height: 1.6 !important;
  background-color: transparent !important;
  color: var(--g-textColor) !important;

  * {
    -webkit-font-smoothing: antialiased;
  }

  .cm-header-1,
  .cm-header-2,
  .cm-header-3,
  .cm-header-4,
  .cm-header-5,
  .cm-header-6,
  .cm-strong {
    color: inherit;
  }
}
