.CodeMirror.CodeMirror {
  font-size: 1.4rem !important;
  line-height: 1.6 !important;
  background-color: transparent !important;
  color: var(--g-textColor) !important;

  .cm-header-1,
  .cm-header-2,
  .cm-header-3,
  .cm-header-4,
  .cm-header-5,
  .cm-header-6 {
    color: inherit;
  }

  // .cm-header,
  // .cm-link-text,
  // .cm-strong,
  // .cm-url,
  // // syntax
  // .cm-atom,
  // .cm-attribute,
  // .cm-bracket,
  // .cm-builtin,
  // .cm-comment,
  // .cm-def,
  // .cm-error,
  // .cm-keyword,
  // .cm-link,
  // .cm-meta,
  // .cm-number,
  // .cm-operator,
  // .cm-property,
  // .cm-qualifier,
  // .cm-string,
  // .cm-tag,
  // .cm-type,
  // .cm-variable {
  //   color: inherit;
  // }

  // .cm-link-text {
  //   color: var(--s-accentColor) !important;
  // }
  // .cm-url {
  //   color: hsl(var(--s-accentColor--hs), 60%) !important;
  // }

  // .cm-quote {
  //   color: #dddddd;
  //   opacity: 0.7;
  // }

  // span.cm-link-text {
  //   color: rgb(166, 166, 255);
  // }

  // span.cm-url {
  //   color: rgb(166, 166, 255);
  //   opacity: 0.5;
  // }

  // .cm-variable-2,
  // .cm-variable-3,
  // .cm-keyword {
  //   color: #dddddd;
  // }

  // span.cm-comment {
  //   color: #ffffff;
  // }

  // span.cm-strong {
  //   color: #ffffff;
  // }

  // span.cm-hr {
  //   color: #555555;
  // }

  // // .cm-search-marker {
  // //   background: #f7d26e;
  // //   color: black !important;
  // // }

  // // .cm-search-marker-selected {
  // //   background: #013f74;
  // //   color: #ffffff !important;
  // // }

  // // .cm-search-marker-scrollbar {
  // //   background: #f7d26e;
  // // }

  // /* We need to use important to override theme specific values */
  // .cm-error {
  //   color: inherit !important;
  //   background-color: inherit !important;
  // }

  // .CodeMirror-selected {
  //   background: #6b6b6b !important;
  // }
}
