// check out the following gist to print the system values:
// https://gist.github.com/ajilderda/8677c565cddc969e6aae7df48622d47c
// (with thanks to https://gist.github.com/jcarpenter)

:root {
  --g-systemBlue: rgba(0, 122, 255, 1);
  --g-systemBlue--h: 211;
  --g-systemBlue--s: 100%;
  --g-systemBlue--l: 50%;
  --g-systemBrown: rgba(162, 132, 94, 1);
  --g-systemGray: rgba(142, 142, 147, 1);
  --g-systemGreen: rgba(40, 205, 65, 1);
  --g-systemIndigo: rgba(88, 86, 214, 1);
  --g-systemOrange: rgba(255, 149, 0, 1);
  --g-systemPink: rgba(255, 45, 85, 1);
  --g-systemPurple: rgba(175, 82, 222, 1);
  --g-systemRed: rgba(255, 59, 48, 1);
  --g-systemTeal: rgba(85, 190, 240, 1);
  --g-systemYellow: rgba(255, 204, 0, 1);

  // General
  --g-primary-Background: var(--g-textBackgroundColor);
  --g-primary-Color: var(--g-textColor);

  --g-icon-size-factor: 1;

  // font-family
  --g-font-family-system-rounded: 'SF Pro Rounded', var(--s-font-family-system);
  --g-font-family-system: 'SF Pro', -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji', sans-serif;
  --g-font-family-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    'Liberation Mono', 'Courier New', monospace;
  --g-font-family-icons: 'SF Pro';

  // font-size
  --g-font-size--1: 1.1rem;
  --g-font-size-0: 1.2rem;
  --g-font-size-1: 1.4rem;
  --g-font-size-2: 1.6rem;
}
