// check out the following gist to print the system values:
// https://gist.github.com/ajilderda/8677c565cddc969e6aae7df48622d47c
// (with thanks to https://gist.github.com/jcarpenter)

:root {
	--g-systemBlue: rgba(0, 122, 255, 1);
  --g-systemBlue--h: 211;
  --g-systemBlue--s: 100%;
  --g-systemBlue--l: 50%;
  --g-systemBrown: rgba(162, 132, 94, 1);
  --g-systemGray: rgba(142, 142, 147, 1);
  --g-systemGreen: rgba(40, 205, 65, 1);
  --g-systemIndigo: rgba(88, 86, 214, 1);
  --g-systemOrange: rgba(255, 149, 0, 1);
  --g-systemPink: rgba(255, 45, 85, 1);
  --g-systemPurple: rgba(175, 82, 222, 1);
  --g-systemRed: rgba(255, 59, 48, 1);
  --g-systemTeal: rgba(85, 190, 240, 1);
  --g-systemYellow: rgba(255, 204, 0, 1);

	// START: specific properties for light mode

	/* Labels */
  --g-labelColor: rgba(0, 0, 0, 0.847);
  --g-secondaryLabelColor: rgba(0, 0, 0, 0.498);
  --g-tertiaryLabelColor: rgba(0, 0, 0, 0.259);
  --g-quaternaryLabelColor: rgba(0, 0, 0, 0.098);

  /* Text */
  --g-textColor: rgba(0, 0, 0, 1);
  --g-textColorDark: rgba(0, 0, 0, 1);
  --g-placeholderTextColor: rgba(0, 0, 0, 0.247);
  --g-selectedTextColor: rgba(0, 0, 0, 1);
  --g-textBackgroundColor: rgba(255, 255, 255, 1);
  --g-selectedTextBackgroundColor: rgba(179, 215, 255, 1);
  --g-keyboardFocusIndicatorColor: rgba(0, 103, 244, 0.247);
  --g-unemphasizedSelectedTextColor: rgba(0, 0, 0, 1);
  --g-unemphasizedSelectedTextBackgroundColor: rgba(220, 220, 220, 1);

  /* Content */
  --g-alternatingContentBackgroundColorsEven: rgba(255, 255, 255, 1);
  --g-alternatingContentBackgroundColorsOdd: rgba(244, 245, 245, 1);
  --g-linkColor: rgba(0, 104, 218, 1);
  --g-separatorColor: rgba(0, 0, 0, 0.098);
  --g-selectedContentBackgroundColor: rgba(0, 99, 225, 1);
  --g-selectedContentBackgroundColor--h: 214;
  --g-selectedContentBackgroundColor--s: 100%;
  --g-selectedContentBackgroundColor--l: 44%;
  --g-unemphasizedSelectedContentBackgroundColor: rgba(220, 220, 220, 1);

  /* Menus */
  --g-selectedMenuItemTextColor: rgba(255, 255, 255, 1);

  /* Tables */
  --g-gridColor: rgba(230, 230, 230, 1);
  --g-headerTextColor: rgba(0, 0, 0, 0.847);

  /* Controls */
  --g-controlAccentColor--h: 211;
  --g-controlAccentColor--s: 100%;
  --g-controlAccentColor--l: 50%;
  --g-controlAccentColor--hsl: var(--g-controlAccentColor--h), var(--g-controlAccentColor--s), var(--g-controlAccentColor--l);
  --g-controlAccentColor: hsla(var(--g-controlAccentColor--hsl), 1);
  --g-controlColor--rgb: 255, 255, 255;
  --g-controlColor: rgba(var(--g-controlColor--rgb), 1);
  --g-controlColor--hsl: 0, 0%, 100%;
  --g-controlBackgroundColor: rgba(255, 255, 255, 1);
  --g-controlTextColor: rgba(0, 0, 0, 0.847);
  --g-disabledControlTextColor: rgba(0, 0, 0, 0.247);
  --g-scrubberTexturedBackground: rgba(255, 255, 255, 1);
  --g-selectedControlColor: rgba(179, 215, 255, 1);
  --g-selectedControlTextColor: rgba(0, 0, 0, 0.847);
  --g-alternateSelectedControlTextColor--rgb: 255, 255, 255;
  --g-alternateSelectedControlTextColor: rgba(
    var(--g-alternateSelectedControlTextColor--rgb),
    1
  );

  /* Windows */
  --g-windowBackgroundColor: rgba(236, 236, 236, 1);
  --g-windowFrameTextColor: rgba(0, 0, 0, 0.847);
  --g-underPageBackgroundColor: rgba(150, 150, 150, 0.898);
  --g-underPageBackgroundColor--rgb: 150, 150, 150;

  /* Highlights & Shadows */
  --g-findHighlightColor: rgba(255, 255, 0, 1);
  --g-highlightColor: rgba(255, 255, 255, 1);
  --g-highlightColor--rgb: 255, 255, 255;
  --g-shadowColor: rgba(0, 0, 0, 1);
  --g-shadowColor--rgb: 0, 0, 0;

	// END: specific properties for light mode

  // General
  --g-primary-Background: var(--g-textBackgroundColor);
  --g-primary-Color: var(--g-textColor);

  --g-icon-size-factor: 1;

  // font-family
  --g-font-family-system-rounded: 'SF Pro Rounded', var(--s-font-family-system);
  --g-font-family-system: 'SF Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
  --g-font-family-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    'Liberation Mono', 'Courier New', monospace;
  --g-font-family-icons: 'SF Pro';

  // font-size
  --g-font-size--1: 1.1rem;
  --g-font-size-0: 1.2rem;
  --g-font-size-1: 1.4rem;
  --g-font-size-2: 1.6rem;
}
