:root {
  --g-icon-folder: '􀈕';
  --g-icon-tag: '􀋡';
  --g-icon-arrow-triangle-2-circlepath: '􀊯';
  --g-icon-bold: '􀅓';
  --g-icon-italic: '􀅔';
  --g-icon-highlighter: '􀦇';
  --g-icon-strikethrough: '􀅖';
  --g-icon-textformat-abc-dottedunderline: '􀅰';
  --g-icon-alarm: '􀐭';
  --g-icon-square-split-2x1: '􀏠';
  --g-icon-info-circle: '􀅴';
  --g-icon-chevron-backward: '􀯶';
  --g-icon-chevron-forward: '􀯻';
  --g-icon-chevron-down: '􀆈';
  --g-icon-chevron-up-chevron-down: '􀆏';
  --g-icon-arrow-up-forward-app: '􀮵';
  --g-icon-arrow-up-right-square-fill: '􀄕';
  --g-icon-ellipsis: '􀍠';
  --g-icon-link: '􀉣';
  --g-icon-chevron-left-slash-chevron-right: '􀙚';
  --g-icon-curlybraces: '􀡅';
  --g-icon-paperclip: '􀉢';
  --g-icon-list-bullet: '􀋲';
  --g-icon-list-number: '􀋴';
  --g-icon-text-badge-checkmark: '􀋺';
  --g-icon-minus: '􀅽';
  --g-icon-text-quote: '􀋿';
  --g-icon-tablecells-badge-ellipsis: '􀏥';
  --g-icon-clock: '􀐫';
  --g-icon-calendar-badge-clock: '􀧞';
  --g-icon-doc-richtext: '􀉅';
  --g-icon-square-and-pencil: '􀈎';
  --g-icon-doc-on-clipboard: '􀉃';
  --g-icon-square-and-arrow-down: '􀈄';
  --g-icon-xmark-circle-fill: '􀁡';
  --g-icon-xmark: '􀆄';
}
