// check out the following gist to print the system values:
// https://gist.github.com/ajilderda/8677c565cddc969e6aae7df48622d47c
// (with thanks to https://gist.github.com/jcarpenter)

$systemBlue: rgba(0, 122, 255, 1);
$systemBrown: rgba(162, 132, 94, 1);
$systemGray: rgba(142, 142, 147, 1);
$systemGreen: rgba(40, 205, 65, 1);
$systemIndigo: rgba(88, 86, 214, 1);
$systemOrange: rgba(255, 149, 0, 1);
$systemPink: rgba(255, 45, 85, 1);
$systemPurple: rgba(175, 82, 222, 1);
$systemRed: rgba(255, 59, 48, 1);
$systemTeal: rgba(85, 190, 240, 1);
$systemYellow: rgba(255, 204, 0, 1);

/* Dynamic system colors */

/* Labels */
$labelColor: rgba(0, 0, 0, 0.847);
$secondaryLabelColor: rgba(0, 0, 0, 0.498);
$tertiaryLabelColor: rgba(0, 0, 0, 0.259);
$quaternaryLabelColor: rgba(0, 0, 0, 0.098);

/* Text */
$textColor: rgba(0, 0, 0, 1);
$placeholderTextColor: rgba(0, 0, 0, 0.247);
$selectedTextColor: rgba(0, 0, 0, 1);
$textBackgroundColor: rgba(255, 255, 255, 1);
$selectedTextBackgroundColor: rgba(179, 215, 255, 1);
$keyboardFocusIndicatorColor: rgba(0, 103, 244, 0.247);
$unemphasizedSelectedTextColor: rgba(0, 0, 0, 1);
$unemphasizedSelectedTextBackgroundColor: rgba(220, 220, 220, 1);

/* Content */
$alternatingContentBackgroundColorsEven: rgba(255, 255, 255, 1);
$alternatingContentBackgroundColorsOdd: rgba(244, 245, 245, 1);
$linkColor: rgba(0, 104, 218, 1);
$separatorColor: rgba(0, 0, 0, 0.098);
$selectedContentBackgroundColor: rgba(0, 99, 225, 1);
$unemphasizedSelectedContentBackgroundColor: rgba(220, 220, 220, 1);

/* Menus */
$selectedMenuItemTextColor: rgba(255, 255, 255, 1);

/* Tables */
$gridColor: rgba(230, 230, 230, 1);
$headerTextColor: rgba(0, 0, 0, 0.847);

/* Controls */
$controlAccentColor: rgba(0, 122, 255, 1);
$controlColor: rgba(255, 255, 255, 1);
$controlBackgroundColor: rgba(255, 255, 255, 1);
$controlTextColor: rgba(0, 0, 0, 0.847);
$disabledControlTextColor: rgba(0, 0, 0, 0.247);
$scrubberTexturedBackground: rgba(255, 255, 255, 1);
$selectedControlColor: rgba(179, 215, 255, 1);
$selectedControlTextColor: rgba(0, 0, 0, 0.847);
$alternateSelectedControlTextColor: rgba(255, 255, 255, 1);

/* Windows */
$windowBackgroundColor: rgba(236, 236, 236, 1);
$windowFrameTextColor: rgba(0, 0, 0, 0.847);
$underPageBackgroundColor: rgba(150, 150, 150, 0.898);

/* Highlights & Shadows */
$findHighlightColor: rgba(255, 255, 0, 1);
$highlightColor: rgba(255, 255, 255, 1);
$shadowColor: rgba(0, 0, 0, 1);
