$systemBlue--dark: rgba(10, 132, 255, 1);
$systemBrown--dark: rgba(172, 142, 104, 1);
$systemGray--dark: rgba(152, 152, 157, 1);
$systemGreen--dark: rgba(50, 215, 75, 1);
$systemIndigo--dark: rgba(94, 92, 230, 1);
$systemOrange--dark: rgba(255, 159, 10, 1);
$systemPink--dark: rgba(255, 55, 95, 1);
$systemPurple--dark: rgba(191, 90, 242, 1);
$systemRed--dark: rgba(255, 69, 58, 1);
$systemTeal--dark: rgba(90, 200, 245, 1);
$systemYellow--dark: rgba(255, 214, 10, 1);

/* Dynamic system colors */

/* Labels */
$labelColor--dark: rgba(255, 255, 255, 0.847);
$secondaryLabelColor--dark: rgba(255, 255, 255, 0.549);
$tertiaryLabelColor--dark: rgba(255, 255, 255, 0.247);
$quaternaryLabelColor--dark: rgba(255, 255, 255, 0.098);

/* Text */
$textColor--dark: rgba(255, 255, 255, 1);
$placeholderTextColor--dark: rgba(255, 255, 255, 0.247);
$selectedTextColor--dark: rgba(255, 255, 255, 1);
$textBackgroundColor--dark: rgba(30, 30, 30, 1);
$selectedTextBackgroundColor--dark: rgba(63, 99, 139, 1);
$keyboardFocusIndicatorColor--dark: rgba(26, 169, 255, 0.298);
$unemphasizedSelectedTextColor--dark: rgba(255, 255, 255, 1);
$unemphasizedSelectedTextBackgroundColor--dark: rgba(70, 70, 70, 1);

/* Content */
$alternatingContentBackgroundColorsEven--dark: rgba(30, 30, 30, 1);
$alternatingContentBackgroundColorsOdd--dark: rgba(255, 255, 255, 0.047);
$linkColor--dark: rgba(65, 156, 255, 1);
$separatorColor--dark: rgba(255, 255, 255, 0.098);
$selectedContentBackgroundColor--dark: rgba(0, 88, 208, 1);
$unemphasizedSelectedContentBackgroundColor--dark: rgba(70, 70, 70, 1);

/* Menus */
$selectedMenuItemTextColor--dark: rgba(255, 255, 255, 1);

/* Tables */
$gridColor--dark: rgba(26, 26, 26, 1);
$headerTextColor--dark: rgba(255, 255, 255, 1);

/* Controls */
$controlAccentColor--dark: rgba(0, 122, 255, 1);
$controlColor--dark: rgba(255, 255, 255, 0.247);
$controlBackgroundColor--dark: rgba(30, 30, 30, 1);
$controlTextColor--dark: rgba(255, 255, 255, 0.847);
$disabledControlTextColor--dark: rgba(255, 255, 255, 0.247);
$scrubberTexturedBackground--dark: rgba(255, 255, 255, 1);
$selectedControlColor--dark: rgba(63, 99, 139, 1);
$selectedControlTextColor--dark: rgba(255, 255, 255, 0.847);
$alternateSelectedControlTextColor--dark: rgba(255, 255, 255, 1);

/* Windows */
$windowBackgroundColor--dark: rgba(50, 50, 50, 1);
$windowFrameTextColor--dark: rgba(255, 255, 255, 0.847);
$underPageBackgroundColor--dark: rgba(40, 40, 40, 1);

/* Highlights & Shadows */
$findHighlightColor--dark: rgba(255, 255, 0, 1);
$highlightColor--dark: rgba(180, 180, 180, 1);
$shadowColor--dark: rgba(0, 0, 0, 1);
