/* Uncomment and tweak the variables prefixed with `--u-` below */
:root {
  /*
    General ------------------------------
  */
  /* --u-base-font-size: 120%; */
  /*
    the accent color is in hsl. To convert from a different color model may want
    to use: https://convertacolor.com/
  */
  /* --u-accentColor--h: 243; */
  /* --u-accentColor--s: 75%; */
  /* --u-accentColor--l: 59%; */
  /* --u-font-family-system-rounded: 'Segoe UI', sans-serif; */
  /* --u-font-family-system: 'Segoe UI', sans-serif; */

  /*

    Sidebar ---------------------------------
  */
  --u-sidebar-note-count-label: none;
  /* --u-sidebar-label-font-size: 1.5rem;*/
  /*

    Uncomment these lines for a dark sidebar in light mode

    --u-sidebar-note-count-label-color: hsla(0, 0%, 100%, 0.55);
    --u-sidebar-background-color: hsl(0, 0%, 20%);
    --u-sidebar-label-color: hsla(0, 0%, 100%, 0.25);
    --u-sidebar-item-color: hsla(0, 0%, 100%, 0.85);
    --u-sidebar-icon-color: hsl(210, 100%, 52%);
    --u-sidebar-chevron-color: hsla(0, 0%, 100%, 0.55);
    --u-sidebar-synchronise-color: hsla(0, 0%, 100%, 0.55);
    --u-sidebar-selected-item-color: hsl(0, 0%, 27%);
  */
  /*
    Comment out the line below to hide the sync status.

    ⚠️ IMPORTANT: The sync status is only shown after by hovering after a
    timeout. Any sync errors are easily overlooked.
  */
  --u-sidebar-synchronise-label: '';
  /* --u-sidebar-synchronise-label-color: hsl(0, 0%, 50%); */

  /*

    Note list -----------------------------
  */
  /* uncomment to remove note-list-dividers */
  /* --u-note-list-dividers: none; */

  /* uncomment to use zebra stripes (or change color) */
  --u-note-list-zebra-color-odd: transparent;
  --u-note-list-zebra-color-even: transparent;

  /*

    Editor --------------------------------
  */
  /* paragraph spacing in editor - default 1.5rem */
  /* --u-editor-paragraph-spacing: 0rem; */
  /* --u-editor-max-width: none; */

  /*

  Icons --------------------------------
  */

  /*
   --u-font-family-icons: 'Phosphor';
   --u-icon-size: 1.25;

   --u-icon-alarm: '';
   --u-icon-arrow-triangle-2-circlepath: '';
   --u-icon-arrow-up-forward-app: '';
   --u-icon-arrow-up-right-square-fill: '';
   --u-icon-bold: '';
   --u-icon-checkmark-circle: '';
   --u-icon-checkmark: '';
   --u-icon-chevron-backward: '';
   --u-icon-chevron-down: '';
   --u-icon-chevron-forward: '';
   --u-icon-chevron-left-slash-chevron-right: '';
   --u-icon-chevron-right: '';
   --u-icon-chevron-up-chevron-down: '';
   --u-icon-clock: '';
   --u-icon-curlybraces: '';
   --u-icon-doc-on-clipboard: '';
   --u-icon-doc-richtext: '';
   --u-icon-ellipsis: '';
   --u-icon-folder: '';
   --u-icon-highlighter: '';
   --u-icon-info-circle: '';
   --u-icon-italic: '';
   --u-icon-link: '';
   --u-icon-list-bullet: '';
   --u-icon-list-number: '';
   --u-icon-minus: '';
   --u-icon-magnifyingglass: '';
   --u-icon-paperclip: '';
   --u-icon-plus-circle: '';
   --u-icon-square-and-arrow-down: '';
   --u-icon-square-and-pencil: '';
   --u-icon-square-split-2x1: '';
   --u-icon-strikethrough: '';
   --u-icon-tablecells-badge-ellipsis: '';
   --u-icon-tag: '';
   --u-icon-text-badge-checkmark: '';
   --u-icon-text-below-photo: '';
   --u-icon-text-quote: '';
   --u-icon-textformat-abc-dottedunderline: '';
   --u-icon-xmark-circle-fill: '';
   --u-icon-xmark: '';
  */
}

// --s = user setting with default fallback
:root {
  // main accent color
  @include fallback(accentColor--h, systemBlue--h);
  @include fallback(accentColor--s, systemBlue--s);
  @include fallback(accentColor--l, systemBlue--l);
  --s-accentColor--s: var(--u-accentColor--s, var(--g-systemBlue--s));
  --s-accentColor--l: var(--u-accentColor--l, var(--g-systemBlue--l));

  --s-accentColor--hs: var(--s-accentColor--h), var(--s-accentColor--s);
  --s-accentColor--hsl: var(--s-accentColor--hs), var(--s-accentColor--l);
  --s-accentColor: hsl(var(--s-accentColor--hsl));

  // fonts
  @include fallback(font-family-system);
  @include fallback(font-family-system-rounded);

  // selected accent color
  --s-selectedContentBackgroundColor--h: var(--u-accentColor--h, var(--g-selectedContentBackgroundColor--h));
  --s-selectedContentBackgroundColor--s: var(--u-accentColor--s, var(--g-selectedContentBackgroundColor--s));
  --s-selectedContentBackgroundColor--l: var(--u-accentColor--l, var(--g-selectedContentBackgroundColor--l));
  --s-selectedContentBackgroundColor: hsl(var(--s-selectedContentBackgroundColor--h), var(--s-selectedContentBackgroundColor--s), var(--s-selectedContentBackgroundColor--l));
  --s-accentColor--selected: var(--s-selectedContentBackgroundColor);

  // control accent color
  --s-controlAccentColor--h: var(--u-accentColor--h, var(--g-controlAccentColor--h));
  --s-controlAccentColor--s: var(--u-accentColor--s, var(--g-controlAccentColor--s));
  --s-controlAccentColor--l: var(--u-accentColor--l, var(--g-controlAccentColor--l));
  --s-controlAccentColor--hsl: var(--s-controlAccentColor--h), var(--s-controlAccentColor--s), var(--s-controlAccentColor--l);
  --s-controlAccentColor: hsl(var(--s-controlAccentColor--hsl));
  --s-controlAccentColor--selected: var(--s-controlAccentColor);

  // sidebar
  --s-sidebar__BackgroundColor: var(--u-sidebar-background-color, var(--g-windowBackgroundColor));
  --s-sidebar__label-FontSize: var(--u-sidebar-label-font-size, var(--g-font-size--1));
  --s-sidebar__label-Color: var(--u-sidebar-label-color, var(--g-tertiaryLabelColor));
  --s-sidebar__item-Color: var(--u-sidebar-item-color, var(--g-labelColor));
  --s-sidebar__item--selected-BackgroundColor: var(--u-sidebar-selected-item-color, var(var(--g-unemphasizedSelectedTextBackgroundColor)));
  --s-sidebar__icon-Color: var(--u-sidebar-icon-color, var(--s-accentColor));
  --s-sidebar__chevron-Color: var(--u-sidebar-chevron-color, var(--g-secondaryLabelColor));
  --s-sidebar__synchronise-Color: var(--u-sidebar-synchronise-color, var(--g-secondaryLabelColor));
  --s-sidebar__synchronise-label-Color: var(--u-sidebar-synchronise-label-color, var(--g-textColor));

  // icons
  @include fallback(font-family-icons);
  @include fallback(icon-size);

  @include fallback(icon-alarm);
  @include fallback(icon-arrow-triangle-2-circlepath);
  @include fallback(icon-arrow-up-forward-app);
  @include fallback(icon-arrow-up-right-square-fill);
  @include fallback(icon-bold);
  @include fallback(icon-checkmark-circle);
  @include fallback(icon-checkmark);
  @include fallback(icon-chevron-backward);
  @include fallback(icon-chevron-down);
  @include fallback(icon-chevron-down);
  @include fallback(icon-chevron-forward);
  @include fallback(icon-chevron-left-slash-chevron-right);
  @include fallback(icon-chevron-right);
  @include fallback(icon-chevron-up-chevron-down);
  @include fallback(icon-clock);
  @include fallback(icon-curlybraces);
  @include fallback(icon-doc-on-clipboard);
  @include fallback(icon-doc-richtext);
  @include fallback(icon-ellipsis);
  @include fallback(icon-folder);
  @include fallback(icon-highlighter);
  @include fallback(icon-info-circle);
  @include fallback(icon-italic);
  @include fallback(icon-link);
  @include fallback(icon-list-bullet);
  @include fallback(icon-list-number);
  @include fallback(icon-magnifyingglass);
  @include fallback(icon-minus);
  @include fallback(icon-paperclip);
  @include fallback(icon-plus-circle);
  @include fallback(icon-plus-circle);
  @include fallback(icon-square-and-arrow-down);
  @include fallback(icon-square-and-pencil);
  @include fallback(icon-square-and-pencil);
  @include fallback(icon-square-split-2x1);
  @include fallback(icon-strikethrough);
  @include fallback(icon-tablecells-badge-ellipsis);
  @include fallback(icon-tag);
  @include fallback(icon-text-badge-checkmark);
  @include fallback(icon-text-below-photo);
  @include fallback(icon-text-quote);
  @include fallback(icon-textformat-abc-dottedunderline);
  @include fallback(icon-xmark-circle-fill);
  @include fallback(icon-xmark);
}
