@mixin modalBackdrop() {
  background: rgba($underPageBackgroundColor, 0.5) !important;
  height: 100% !important;
}

@mixin modalDialog() {
  backdrop-filter: blur(10px) saturate(100%) contrast(45%) brightness(130%);
  background: rgba(255, 255, 255, 0.75) !important;
  padding: 2rem !important;
  border-radius: 1.2rem !important;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.8), 0px 0px 20px rgba(0, 0, 0, 0.15),
    0px 25px 30px rgba(0, 0, 0, 0.35) !important;
}

// line before buttons in modal
@mixin modalFooter {
  position: relative;
  margin-top: 2rem !important;
  padding-top: 2rem !important;

  &:before {
    content: '';
    top: 0;
    left: -2rem;
    right: -2rem;
    background: $separatorColor;
    height: 0.1rem;
    position: absolute;
  }
}

@mixin input {
  border: none !important;
  border-radius: 0.5rem;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.3), 0px 0px 1px rgba(0, 0, 0, 0.15),
    0 0 0 16px rgba($controlAccentColor, 0) !important;
  height: 2rem;
  padding-left: 1rem;

  &:focus {
    transition: 0.25s box-shadow cubic-bezier(0.61, 1, 0.88, 1);
    transition-delay: 0.125s;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.3), 0px 0px 1px rgba(0, 0, 0, 0.15),
      0 0 0 0.35rem rgba($controlAccentColor, 0.5) !important;
  }
}

.modal-layer {
  @include modalBackdrop();
}

.modal-dialog {
  @include modalDialog();

  > div:first-child input[type='text'],
  .datetime-picker input[type='text'] {
    @include input;
  }

  input + a {
    font-size: 1.5rem;
    right: 2.7rem;
    position: absolute;

    .fa-question-circle {
      &::before {
        content: '􀅴' !important; // info-circle
        color: $secondaryLabelColor !important;
        font-family: var(--g-font-family-system) !important;
        font-weight: 400;
        -webkit-font-smoothing: antialiased;
      }
    }
  }

  label + div[style] {
    background: none !important;
  }

  button {
    @include buttonBase();

    + button {
      margin-left: 7px;
    }

    // ok
    &:nth-child(1) {
      @include buttonPrimary();
    }
    // cancel
    &:nth-child(2) {
      margin-left: auto !important;
    }
    // clear
    &:nth-child(3):not(:active) {
      color: $systemRed !important;
    }
  }

  // button-container
  > div:last-child {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    gap: 0.7rem;

    @include modalFooter();
  }

  // go-to-anything
  .item-list.item-list {
    display: block !important;
    padding-top: 0 !important;
    margin-left: -0.5rem;
    margin-right: -0.5rem;
    height: auto !important;

    &:before {
      content: none;
    }

    // items
    > div {
      border-bottom: none !important;
      //   height: auto !important;
      padding: 1.5rem 1.5rem !important;
      position: relative;

      &::before {
        content: '';
        top: 0;
        left: 1rem;
        right: 1rem;
        background: $separatorColor;
        height: 0.1rem;
        position: absolute;
      }

      &:nth-child(2)::before {
        content: none !important;
      }

      * {
        opacity: 1 !important;
      }

      > div {
        color: $secondaryLabelColor !important;

        // title
        &:first-child[style] {
          margin-bottom: 0 !important;
        }

        // titles for notebook search
        &:first-child:not(:last-child) {
          font-size: 1.5rem !important;
          margin-bottom: 0.4rem !important;
        }

        // match highlight
        span {
          color: $textColor !important;
          font-weight: normal !important;
        }
      }

      &:empty {
        display: none;
      }

      &.selected {
        background: $systemBlue !important;
        border-radius: 0.5rem;

        > div {
          color: rgba(255, 255, 255, 0.75) !important;

          // match highlight
          span {
            color: #fff !important;
          }
        }

        i.fa:before {
          color: rgba(255, 255, 255, 0.75);
        }
      }

      // notebook
      &:not(.selected) > div:last-child {
        color: $secondaryLabelColor !important;
      }

      i.fa:before {
        color: $systemBlue;
        font-family: var(--g-font-family-system) !important;
        font-weight: 400;
        -webkit-font-smoothing: antialiased;
      }

      .fa-book:before {
        content: '􀈕'; // folder
      }
    }
  }
}

// note properties modal
div[style*='z-index: 9999;'][style*='background-color: rgba(0, 0, 0, 0.6);'][style*='align-items: flex-start;']:not(.modal-layer) {
  @include modalBackdrop();

  > div {
    @include modalDialog();
    background-color: #fff !important;
    max-height: none !important;

    // main heading
    > div:first-child {
      color: $labelColor !important;
      font-size: 1.3rem !important;
      text-align: center;
    }

    // button container
    > div:last-child {
      display: flex;
      flex-direction: row-reverse;
      gap: 0.8rem;

      @include modalFooter();

      // ok-button
      button:first-child {
        @include buttonBase();
        @include buttonPrimary();
      }
      // cancel-button
      button:last-child {
        @include buttonBase();
      }
    }
  }
  .note-property-box {
    margin-bottom: 1rem !important;

    a:not(:empty) {
      color: $controlAccentColor;
      text-decoration: none !important;
      margin-left: 0 !important;

      .fas {
        color: $controlAccentColor !important;

        &::before {
          font-family: var(--g-font-family-system) !important;
          font-weight: 400;
        }

        &.fa-edit::before {
          content: '􀈎'; // square.and.pencil
        }
        &.fa-copy::before {
          content: '􀉃'; // doc.on.clipboard
        }
        &.fa-save::before {
          content: '􀈄'; // square.and.arrow.down
        }
      }
    }

    div + a[style] {
      margin-left: 1rem !important;
    }

    label {
      color: $secondaryLabelColor !important;
      font-weight: 400 !important;
      text-align: right !important;
      margin-right: 0.8rem !important;

      &::after {
        // it's in the details ;)
        content: ':';
      }
    }
  }
}
