@mixin buttonBase {
  color: $controlTextColor !important;
  border: none !important;
  border-radius: 0.5rem !important;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.3), 0px 1px 1.5px rgba(0, 0, 0, 0.15);
  background: #fff;
  cursor: default !important;
  margin: revert !important;
  height: 1.9rem !important;
  line-height: 1.9rem !important;
  min-width: 7.2rem !important;
  min-height: 0 !important;
  font-size: 1.4rem !important;
  font-weight: 400 !important;
  padding: 0 2rem !important;
  text-decoration: none !important;

  &:active {
    color: rgba(255, 255, 255, 0.75) !important;
    background-image: linear-gradient(
      darken($systemBlue, 5%),
      darken(saturate(darken($systemBlue, 5%), 100%), 5%)
    );
  }
}

@mixin buttonPrimary {
  color: #fff !important;
  background-color: $systemBlue;
  background-image: linear-gradient(
    $systemBlue,
    saturate(darken($systemBlue, 5%), 100%)
  );
  box-shadow: 0px 0px 1px rgba($systemBlue, 0.3),
    0px 1px 1.5px rgba($systemBlue, 0.15);
}
