// Missing classnames/elements in UI (will make a PR for these changes):
// - 'active'-classname on sidebar (xOaMI)
// - classname for resize handle
// - generic icon classname
// - wrap text in .list-item in a <span> so that the title and note count can be
//   positioned side-by-side, while still being able to 'ellipsise' long note titles
// - classname for sync state

// TODO: Set and use CSS-vars in stead of SCSS-vars
// TODO: Add setting for toggling the note count
// TODO: Style sync + states
// TODO: Sub-item styling (indent + background-color)

$activeItem: '.xOaMI';

.rli-sideBar {
  // remove white space between sidebar and notelist
  &:first-child {
    width: auto !important;
  }

  // fix resize handle
  > span > div {
    z-index: 1;
  }
}

.sidebar {
  background: var(--sidebar__BackgroundColor);
  padding-top: 1rem;

  > div {
    > div {
      // plus icon
      button {
        display: none;
        margin-right: 1.5rem;
      }

      &:hover {
        button {
          display: block;
        }
      }
    }
    // notebook + tags label
    > div:first-child span,
    .folders + div span {
      text-transform: none;
      color: $tertiaryLabelColor;
      font-size: var(--sidebar__label-FontSize);
      font-weight: 700;
      margin-left: 6px;
    }

    // all notes
    .folders > div:first-child {
      background: none;
    }

    a {
      color: var(--labelColor);
    }

    .list-item-container {
      border-radius: 4px;
      height: 2.8rem;
      margin: 0 10px;
      padding: 0;

      &:hover {
        background: transparent;
      }

      &#{$activeItem} {
        background: $unemphasizedSelectedTextBackgroundColor;
      }

      // dropdown caret
      a:first-of-type {
        opacity: 1;
        margin-top: -3px;
        padding-right: 0;
      }
    }

    .list-item {
      opacity: 1;
      // truncate text with ellipsis
      overflow: hidden;
      text-overflow: ellipsis;
      display: inline-block;
      line-height: 2.8rem;
    }

    .folders .list-item::before,
    .tags .list-item::before {
      color: var(--accent-color);
      margin-right: 0.7rem;
      font-weight: 400;
      font-size: 13px;
      -webkit-font-smoothing: antialiased;
    }

    .folders .list-item::before {
      content: '􀈕'; // folder
    }
    .tags .list-item::before {
      content: '􀋡'; // tag
    }

    .list-item-depth-0 {
      padding-left: 0.2rem;
    }
    .list-item-depth-1 {
      padding-left: 1.8rem;
    }
    .list-item-depth-2 {
      padding-left: 3.4rem;
    }
    .list-item-depth-3 {
      padding-left: 5rem;
    }
    .list-item-depth-4 {
      padding-left: 6.6rem;
    }
    .list-item-depth-5 {
      padding-left: 8.2rem;
    }
    .list-item-depth-6 {
      padding-left: 9.8rem;
    }
    .list-item-depth-7 {
      padding-left: 11.4rem;
    }
    .list-item-depth-8 {
      padding-left: 13rem;
    }
    .list-item-depth-9 {
      padding-left: 14.6rem;
    }
  }

  .fas {
    opacity: 1 !important;

    &::before {
      font-family: 'SF Pro';
      font-size: 9px;
      font-weight: 700;
      -webkit-font-smoothing: antialiased;
    }

    &.fa-caret-right::before {
      color: $secondaryLabelColor;
    }

    &.fa-caret-down::before {
      color: $secondaryLabelColor;
    }
    &.fa-plus::before {
      color: $tertiaryLabelColor;
      font-weight: 500;
      font-size: 14px;
      -webkit-font-smoothing: unset;
    }
  }

  // hide all icons in sidebar
  .icon-notebooks,
  .icon-tags,
  .icon-notes {
    display: none;
  }

  // sync
  > div:last-child {
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' style='margin:auto;' width='30' height='30' viewBox='23 23 54 54' preserveAspectRatio='xMidYMid' display='block'%3E%3Crect x='46.5' y='23' rx='3.5' ry='3.84' width='7' height='16'%3E%3Canimate attributeName='opacity' values='1;0' keyTimes='0;1' dur='0.78125s' begin='-0.68359375s' repeatCount='indefinite'/%3E%3C/rect%3E%3Crect x='46.5' y='23' rx='3.5' ry='3.84' width='7' height='16' transform='rotate(45 50 50)'%3E%3Canimate attributeName='opacity' values='1;0' keyTimes='0;1' dur='0.78125s' begin='-0.5859375s' repeatCount='indefinite'/%3E%3C/rect%3E%3Crect x='46.5' y='23' rx='3.5' ry='3.84' width='7' height='16' transform='rotate(90 50 50)'%3E%3Canimate attributeName='opacity' values='1;0' keyTimes='0;1' dur='0.78125s' begin='-0.48828125s' repeatCount='indefinite'/%3E%3C/rect%3E%3Crect x='46.5' y='23' rx='3.5' ry='3.84' width='7' height='16' transform='rotate(135 50 50)'%3E%3Canimate attributeName='opacity' values='1;0' keyTimes='0;1' dur='0.78125s' begin='-0.390625s' repeatCount='indefinite'/%3E%3C/rect%3E%3Crect x='46.5' y='23' rx='3.5' ry='3.84' width='7' height='16' transform='rotate(180 50 50)'%3E%3Canimate attributeName='opacity' values='1;0' keyTimes='0;1' dur='0.78125s' begin='-0.29296875s' repeatCount='indefinite'/%3E%3C/rect%3E%3Crect x='46.5' y='23' rx='3.5' ry='3.84' width='7' height='16' transform='rotate(225 50 50)'%3E%3Canimate attributeName='opacity' values='1;0' keyTimes='0;1' dur='0.78125s' begin='-0.1953125s' repeatCount='indefinite'/%3E%3C/rect%3E%3Crect x='46.5' y='23' rx='3.5' ry='3.84' width='7' height='16' transform='rotate(270 50 50)'%3E%3Canimate attributeName='opacity' values='1;0' keyTimes='0;1' dur='0.78125s' begin='-0.09765625s' repeatCount='indefinite'/%3E%3C/rect%3E%3Crect x='46.5' y='23' rx='3.5' ry='3.84' width='7' height='16' transform='rotate(315 50 50)'%3E%3Canimate attributeName='opacity' values='1;0' keyTimes='0;1' dur='0.78125s' begin='0s' repeatCount='indefinite'/%3E%3C/rect%3E%3C/svg%3E");
  }
}

// sync animation
// https://codepen.io/ezadoo/pen/qBZJGOB
