@mixin buttonBase {
  color: var(--g-controlTextColor) !important;
  border: none !important;
  border-radius: 0.5rem !important;
  box-shadow: 0px 0px 1px rgba(var(--g-shadowColor--rgb), 0.3),
    0px 1px 1.5px rgba(var(--g-shadowColor--rgb), 0.15);
  background-color: var(--g-controlColor) !important;
  cursor: default !important;
  margin: revert !important;
  height: 1.9rem !important;
  line-height: 1.9rem !important;
  min-width: 7.2rem !important;
  min-height: 0 !important;
  font-size: 1.4rem !important;
  font-weight: 400 !important;
  padding: 0 2rem !important;
  text-decoration: none !important;

  &:active {
    color: rgba(255, 255, 255, 0.75) !important;
    background-image: linear-gradient(
      hsl(var(--g-systemBlue--hs), calc(var(--g-systemBlue--l) - 5%)),
      hsl(var(--g-systemBlue--hs), calc(var(--g-systemBlue--l) - 10%))
    );
  }
}

@mixin buttonPrimary {
  color: $alternateSelectedControlTextColor !important;
  background-color: $systemBlue;
  background-image: linear-gradient(
    $systemBlue,
    hsl(var(--g-systemBlue--hs), calc(var(--g-systemBlue--l) - 5%))
  );
  // saturate(darken($systemBlue, 5%), 100%)
  box-shadow: 0px 0px 1px rgba($systemBlue, 0.3),
    0px 1px 1.5px rgba($systemBlue, 0.15);
}
