.CodeMirror {
  font-size: 1.4rem !important;
  line-height: 1.6 !important;
}

.cm-header {
  color: var(--g-headerTextColor) !important;
}

.cm-link-text {
  color: var(--g-linkColor);
}
.cm-url {
  color: var(--g-systemGray) !important;
}
