/* 1rem = 10px */
html {
  font-size: 62.5%;
}

body {
  /* default font-size set back to 16px */
  font-size: 1.6rem;
}

// reset default background color
#react-root > div > div {
  background: transparent;
}

div,
span,
a,
* {
  font-family: var(--g-font-family-system);
}
