.fa-caret-right::before {
  content: var(--s-icon-chevron-right);
}
.fa-caret-down::before {
  content: var(--s-icon-chevron-down);
}
.fa-plus::before {
  content: var(--s-icon-plus-circle);
}
.fa-book::before {
  content: var(--s-icon-folder);
}
