/* 1rem = 10px */
html {
  font-size: 62.5%;
}

body {
  font-family: var(--g-font-family-system);
  /* default font-size set back to 16px */
  font-size: 1.6rem;

  div,
  span,
  a,
  input,
  button {
    font-family: var(--g-font-family-system);
  }
  a {
    cursor: default;
  }
}

// reset default background color
#react-root > div > div {
  background: transparent;
}

*[style*='Roboto'] {
  font-family: var(--g-font-family-system) !important;
}
