.fa-caret-right::before {
  @include icon(chevron-right);
}
.fa-caret-down::before {
  @include icon(chevron-down);
}
.fa-plus::before {
  @include icon(plus-circle);
}
.fa-book::before {
  @include icon(folder);
}
