/* 1rem = 10px */
html {
  font-size: calc(62.5 * (var(--u-base-font-size, 100%) / 100));
}

html,
body {
  background: var(--g-primary-Background) !important;
}

body {
  font-family: var(--s-font-family-system);
  /* set default font-size back to 16px */
  font-size: 1.6rem;

  input,
  button {
    color: var(--g-primary-Color);
    font-family: var(--s-font-family-system);
  }
  a {
    cursor: default;
  }
}

// reset default background color
#react-root > div > div {
  background: transparent !important;
}

*[style*='Roboto'] {
  font-family: var(--s-font-family-system) !important;
}
